<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="MSAccessConnection" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Mode=Read;Data Source=D:\netXs.mdb; Jet OLEDB:Database Password=*****;" />
    <add name="LMSConnection" connectionString="data source=NLTI01;initial catalog=LMS;Integrated Security=true;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!--int-->
  <add key="FetchTransactionFrom" value="421013" />
  </appSettings>
</configuration>