<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="MSAccessConnection" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=D:\**** " />
    <add name="LMSConnection" connectionString="Server=****;database=****;user=sa;pwd=***"  providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!--Date Formate shoud be  dd/MM/yyyy-->
    <add key="FetchDateFrom" value="25/07/2017" />
  </appSettings>
</configuration>